.button {
  display: flex;
  align-items: center;
  gap: .5rem;

  border: 0;
  border-radius: 5px;
  padding: .5rem 1rem;

  &.primary {
    background-color: var(--color-active-accent);
    color: white;
  }
}

.wide {
  width: 100%;
}
