<h1>Favourites</h1>

<section class="cards">
  <app-card *ngFor="let fav of favourites$ | async">
    <header slot="header">
      <h1>{{fav.firstName}} {{fav.lastName}}</h1>
      <p>{{fav.jobTitle}}</p>
    </header>

    <div class="avatar-container" slot="body">
      <img src="/api/v1/avatar/{{fav.id}}" alt="" class="avatar">
    </div>

    <footer slot="footer">
      <div class="buttons">
        <app-button [icon]="true" type="button" class="btn btn-icon">
          <mat-icon>forum</mat-icon>
        </app-button>
        <app-button [icon]="true" type="button" class="btn btn-icon">
          <mat-icon>phone</mat-icon>
        </app-button>
      </div>
    </footer>
  </app-card>
</section>
