<h1>Favourites</h1>

<div class="cards">
  <app-card *ngFor="let fav of favourites$ | async">
    <h1>{{fav.firstName}} {{fav.lastName}}</h1>
    <p>{{fav.jobTitle}}</p>

    <img src="/api/v1/avatar/{{fav.id}}" alt="" class="avatar">

    <div class="buttons">
      <button type="button" class="btn btn-icon">
        <mat-icon>forum</mat-icon>
      </button>
      <button type="button" class="btn btn-icon">
        <mat-icon>phone</mat-icon>
      </button>
    </div>
  </app-card>
</div>

<details>
  <summary>JSON</summary>
  <pre>{{favourites$ | async | json}}</pre>
</details>
